@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.5rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 2.8rem;
	font-weight: 800;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #3269fd;
}

.cta {
	display: inline-block;
	padding: 10px 20px;
	color: black;
	background-color: transparent;
	border: 2px solid #3269fd;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	margin-left: -20px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: black;
	/* background-color: #fcfa43; */
	/* background-color: #fef879; */
	/* background-color: #fbf700; */
	background-color: #fef681;
}
.brand h1 {
	animation: fadeIn 2s ease-in-out;
	font-size: 2.8rem;
	font-weight: 2000;
	text-transform: capitalize;
	/* color: white; */
	color: #fff64b;
}
.brand h1 span {
	/* color: #fcfa43; */
	/* color: #fdfc01; */
	/* color: #a99aee; */
	animation: fadeIn 2s ease-in-out;
	color: #7f80ea;


}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	/* background-color: rgba(31, 30, 30, 0.24); */
	/* background-color: lightgray; */
	background-color: transparent;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	/* background-color: rgb(31, 30, 30); */
	background-color: #ddbbe1;
	/* background-image: linear-gradient(to right, #c1c1c0, #ddbbe1); */

	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	animation: fadeIn 2s ease-in-out;
	font-size: 2.5rem;
	font-weight: 550;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	/* color: rgba(240, 248, 255, 0.021); */
	color: transparent;
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	/* color: #fcfa43; */
	color:  #fdfc01;
}
#header .hamburger {
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 2px solid lightgray;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 2px solid lightgray;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

.header-scrolled .brand h1 span {
	color: white; /* color when scrolled */
}

/* End Header section */

/* Hero Section */
#hero {
	animation: fadeIn 1.8s ease-in-out;
	background-image: url(./img/homepage2.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: lightgray;
	opacity: 0.45;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px 40px 40px;
	justify-content: center;
	/* justify-content: flex-start; */
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 0.8s;
}
#hero h1:nth-child(1) {
	font-size: 2.5rem;
	margin-top: -150px;
 
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 75%;
	width: 0;
	/* background-color: #3269fd; */
	background-color: #fef681;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#hero h2, #hero .cta {
    animation: fadeIn 4.5s ease-in-out;
}

/* End Hero Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 880px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/homepage1.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 20px;
	width: 20px;
	margin-bottom: 10px;
}
#services .service-item h2 {
	font-size: 2.5rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
/* End Services Section */


/* About Section */
#about .about {
	flex-direction: row;
	text-align: center;
	max-width: 1235px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 1.5rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 8px solid whitesmoke;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #fcfa43;
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
#contact .contact-items {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0;
}
#contact .contact-item {
	background-color: whitesmoke;
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

.contact{
	background-image: linear-gradient(to top left,#ddbbe1, #fd8770);
	}

/*End contact Section */

/* Footer */
#footer {
	/* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
	background-image: linear-gradient(45deg, #3269fd 15%, #fff64b 80%);

}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #3269fd;
		font-weight: 550;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (max-width:991px) {
	.cta {
		display: inline-block;
		padding: 5px 10px;
		color: black;
		background-color: transparent;
		border: 0.5px solid #3269fd;
		font-size: 0.6rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin-top: 80px;
		margin-left: 4px;
		position: static;
		transition: 0.3s ease;
		transition-property: background-color, color;
	}

	.brand h1 {
		animation: fadeIn 1.5s ease-in-out;
		font-size: 1rem;
		font-weight: 500;
		margin-left: 20px;
		text-transform: capitalize;
		/* color: white; */
		color: #fff64b;
	}

	.brand h1 span {
		/* color: #fcfa43; */
		/* color: #fdfc01; */
		/* color: #a99aee; */
		animation: fadeIn 1.5s ease-in-out;
		color: white;
	
	}

	

		/* Hero Section */
	#hero {
		background-image: url(./img/mobile.jpg);
		background-size: cover;
		background-position: top center;
		position: relative;
		z-index: 1;
		
	} 
	#hero .hero {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 50px;
		justify-content: center;
	}

	#hero h1 {
		display: block;
		width: fit-content;
		font-size: 1.5rem;
		position: relative;
		color: transparent;
		animation: text_reveal 0.5s ease forwards;
		animation-delay: 0.8s;
	}
	#hero h1:nth-child(1) {
		margin-left: 10px;
		margin-top: 15px;
		font-size: 0.8rem;
	
		animation-delay: 1s;
	}
	#hero h1:nth-child(2) {
		animation-delay: 2s;
		margin-left: 12px;
	}
	#hero h1:nth-child(3) {
		margin-left: 18px;
		font-size: 1rem;
		animation: text_reveal_name 0.5s ease forwards;
		animation-delay: 3s;
	}
	#hero h1 span {
		position: absolute;
		top: 0;
		left: 0;
		height: 75%;
		width: 0;
		/* background-color: #3269fd; */
		background-color: #fef681;
		animation: text_reveal_box 1s ease;
		animation-delay: 0.5s;
	}
	#hero h1:nth-child(1) span {
		animation-delay: 0.5s;
	}
	#hero h1:nth-child(2) span {
		animation-delay: 1.5s;
	}
	#hero h1:nth-child(3) span {
		animation-delay: 2.5s;
	}

	#hero h2 {
		width: fit-content;
		font-size: 0.6rem;
		margin-left: 16px;
		
	}

	/* End Hero Section */
	
	
	
	
	h1.section-title {
		font-size: 2rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 1rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		/* flex-basis: 45%; */
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}

	/* .projects {
		padding-top: 35px;
	} */
	/* End Project */

	/* About */
	
	
	#about .about {
		flex-direction: column-reverse;
	}

	/* End About */

	/* contact  */
	

	#contact .contact {
		flex-direction: column;
		padding: 50px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 20px;
	}
	#contact .contact-item {
		width: 100%;
		margin: 0;
		flex-direction: column;

	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: center;
		padding-left: 0px;
	}

	#contact .contact-info h1 {
		font-size: 1rem;
		text-align: center;
		font-weight: 500;
		margin-bottom: 5px;
	}
	#contact .contact-info h2 {
		font-size: 0.5rem;
		text-align: center;
		line-height: 1rem;
		font-weight: 500;
	}


	/* End contact  */
}

@media only screen and (max-width: 991px) {
    /* Match or exceed the specificity of the default rule */
    #contact .contact {
        background-color: whitesmoke;
        background-image: none; /* explicitly remove the gradient */
    }
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */



.service-item {
    /* background-color: #fff; */
    width: 30.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    /* margin: 15px; */
    transition: 0.7s ease;
}

.service-item:hover {
    transform: scale(1.1);
    transition: 0.7s ease;
}






.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.project .content{
	margin-top: 30px;
	}

	.card {
		background-color: whitesmoke;
		width: 25.25em;
		box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
		border-radius: 10px;
		padding: 25px;
		margin: 15px;
		transition: 0.7s ease;
	}

	.card:hover {
		transform: scale(1.1);
		transition: 0.7s ease;
	}

	.info{
		text-align: center;
	}

	.info h3{
		color: #3269fd;
		font-size: 1.2em;
		font-weight: 700;
		margin: 10px;
	}

	.icon {
		color : #3269fd;
		font-size: 10em;
		text-align: center;
		/* margin-right: 10px; */
		/* display: inline-block; */
		/* width: 30px; */
	}


	.more-details {
		text-decoration: none;
		color: #3269fd;
		font-size: large;
		
	}
	
	.more-details:hover{
		color: #fdfc01;
	}
	
	.details-container {
		text-align: right;
		float: right;
	}
	  


	.projects{
		background-color: whitesmoke;
		padding-top: 32px;
		}
		.project .content{
		margin-top: 30px;
		}
		
		.project-card{
			background-color: #fff;
			border: 1px solid #fff;
			min-height: 14em;
			width: 45em;
			overflow: hidden;
			border-radius: 10px;
			margin: 20px;
			transition: 0.7s ease;
		}
		
		.project-card:hover {
			transform: scale(1.1);
			transition: 0.7s ease;
		}
		
		.project-image img{
			width: 100%;
		}
		
		.project-card:hover .project-image{
			opacity: 0.6;
		}
		
		
		.project-info{
			padding: 1em;
		}
		
		.project-category{
		font-size:  1.5em;
		color: #000;
		}
		
		
		.project-title{
			display: flex;
			justify-content: space-between;
			text-transform: uppercase;
			font-weight: 1000;
			margin-top: 10px;
			font-size: large;
		}
		
		
		.more-details {
			text-decoration: none;
			color: #3269fd;
		}
		
		.more-details:hover{
			color: #3269fd;
		}
	
           

		.title {
			display: flex;
			justify-content: center;
			/* color: #3a6cf4; */
			/* font-size: 2.9em; */
			font-weight: 800;

			color: black;
			margin-bottom: 50px;
			padding: 10px 20px;
			font-size: 2rem;
		}
